@import "tailwindcss";

@theme {
  --font-sans: var(--font-boldonse);
  --font-mono: var(--font-plex-mono);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  background: #111;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  background: #111;
  color: #fff;

  font-family: var(--font-boldonse);

  overflow-x: hidden;
}

/* Prevent media overflow */
img,
video,
svg {
  display: block;
  max-width: 100%;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Better mobile behavior */
html,
body {
  overscroll-behavior-x: none;
}